APP_NAME=Scaffold
APP_UPLOAD_PATH=/data/scaffold/uploadPath
SERVER_PORT=8080

SPRING_PROFILES_ACTIVE=druid
LIQUIBASE_ENABLED=true

DB_HOST=mysql
DB_PORT=3306
DB_NAME=project
DB_USERNAME=root
DB_PASSWORD=password
DB_URL=jdbc:mysql://mysql:3306/project?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=3
REDIS_PASSWORD=123456

JWT_SECRET=change-me-to-a-long-random-secret
DRUID_STAT_VIEW_ENABLED=false
DRUID_USERNAME=scaffold
DRUID_PASSWORD=change-me

QUARTZ_THREAD_COUNT=20
QUARTZ_CLUSTERED=true
